server:
  port: 8761

spring:
  application:
    name: micro-service-eureka

eureka:
  instance:
    hostname: ${RENDER_EXTERNAL_URL}

  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: ${RENDER_EXTERNAL_URL}/eureka/